.hidden {
    display: none;
}
div{
    /*padding: 10px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

span{
    /*padding: 10px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}